<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="torqueSensor" params="link_name joint_name">
        <gazebo reference="${link_name}">
            <material>Gazebo/Red</material>
            <mu1 value="10.0"/>
            <mu2 value="10.0"/>
            <kp value="0.3" />
            <kd value="1.0" />
            <fdir1 value="1 0 0"/>
            <gravity value="true"/>
        </gazebo>
        <!---->
        <gazebo reference="${joint_name}">
            <provideFeedback>true</provideFeedback>
            <disableFixedJointLumping>true</disableFixedJointLumping>
        </gazebo>
        <gazebo>
            <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
                <updateRate>100.0</updateRate>
                <topicName>ft_sensor_topic_${joint_name}</topicName>
                <jointName>${joint_name}</jointName>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>
